<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>myCourseMentor</title>
    <link rel="stylesheet" href="../static/playground/dashboard.css">
</head>
<body>
    <div class="navbar">
        <div class="container">
            <a href="#" class="logo">MY COURSE MENTOR</a>

            <nav>
                <ul>
                    <li class="current"><a href="#">Home</a></li>
                    <li><a href="#">My Info</a></li>
                    <li><a href="#">Help</a></li>
                    <li><a href="#">Logout</a></li>
                </ul>
            </nav>
        </div>
    </div>

    <section class="assignments-section">
        <div class="container">
            <ul>
                <h2>Previous Assignments:</h2>
                <li>
                    <h1 class="assignment-name">CS 370: Chapter 1 Challenges</h1>
                    <p class ="prediction">Received Grade: B</p>
                    <p>Recommended Partner: Jane Doe</p>
                    <p>Recommended Material: Database Design Ch. 2</p>
                </li>
                <h2>Upcoming Assignments:</h2>
                <li>
                    <h1 class="assignment-name">CS 370: Chapter 2 Challenges</h1>
                    <p class ="prediction">Predicted Grade: B</p>
                    <p>Recommended Partner: Jane Doe</p>
                    <p>Recommended Material: Database Design Ch. 2</p>
                </li>
                <li>
                    <h1 class="assignment-name">CS 370: Chapter 3 Challenges</h1>
                    <p class ="prediction">Predicted Grade: B</p>
                    <p>Recommended Partner: Jane Doe</p>
                    <p>Recommended Material: Database Design Ch. 2</p>
                </li>
                <li>
                    <h1 class="assignment-name">CS 370: Chapter 4 Challenges</h1>
                    <p class ="prediction">Predicted Grade: B</p>
                    <p>Recommended Partner: Jane Doe</p>
                    <p>Recommended Material: Database Design Ch. 2</p>
                </li>
            </ul>
        </div>
    </section>
</body>
</html>